[Desktop Entry]
Name=Hotspot (apsta)
Name[en]=Hotspot (apsta)
Comment=Share your internet over Wi-Fi while staying connected
Comment[en]=Share your internet over Wi-Fi while staying connected
Type=Application
Exec=apsta-gtk
Icon=com.github.apsta.Gtk
Terminal=false
Categories=GNOME;GTK;Network;Settings;
Keywords=wifi;wi-fi;hotspot;access point;tethering;share internet;wireless;network;AP+STA;Wi-Fi Direct;apsta;
StartupNotify=true
StartupWMClass=com.github.apsta.Gtk
