__pycache__/
*.py[cod]

cosmic-applet-apsta/target/
cosmic-applet-apsta/Cargo.lock
build/
dist/
*.egg-info/
.packaging-venv/
.venv/
.pybuild/
debian/.debhelper/
debian/apsta/
debian/*.debhelper
debian/*.substvars
debian/debhelper-build-stamp
debian/files