[Desktop Entry]
Name=apsta Hotspot
Name[en]=apsta Hotspot
Comment=AP+STA WiFi hotspot manager
Comment[en]=AP+STA WiFi hotspot manager
Type=Application
Exec=cosmic-applet-apsta
Icon=network-wireless-hotspot-symbolic
Terminal=false
Categories=COSMIC;Network;

# Required COSMIC applet keys
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=5
